// Colori principali
$primary-color-1: #6e33e3;
$primary-color-2: #fafeff;
// Colori Secondari
$secondary-color-1: #20251a;
$secondary-color-2: rgb(170, 170, 170);

//Scala di Grigi
$gray-1: rgb(170, 170, 170);
//Button

.btn-primary:hover {
  background-color: $primary-color-1;
}

.btn-primary {
  background-color: $primary-color-1;
  border-color: cornsilk;
}
