@import '../../../styles/colors.scss';

.bg-red {
  background-color: $primary-color-1 !important;
}

header {
  background-color: $primary-color-1 !important;
  padding-left: 10px;
}

.logo-cibando {
  width: 80px;
  margin: 10px;
}

.nav-link {
  font-size: 1.5rem;
}

.navbar-brand {
  font-size: 36px;
}
